@font-face {
  font-family: 'Nunito';
  src: local('Nunito ExtraLight Italic'), local('Nunito-ExtraLightItalic'),
      url('/fonts/Nunito-ExtraLightItalic.woff2') format('woff2'),
      url('/fonts/Nunito-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito ExtraLight'), local('Nunito-ExtraLight'),
      url('/fonts/Nunito-ExtraLight.woff2') format('woff2'),
      url('/fonts/Nunito-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nickainley';
  src: local('Nickainley Normal'), local('Nickainley-Normal'),
      url('/fonts/Nickainley-Normal.woff2') format('woff2'),
      url('/fonts/Nickainley-Normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}