:root {
  --general-text: 'Nunito';
  --accent-text: 'Nickainley';
  --general-color-bg: #d8c8b8;
  --general-color-text: #263113;
  --accent-color: #952225;
  --accent-color-bg: #b91c1c;
  --light-accent-color-bg: #dc2626;
  --blur-color: #ffffff1a;
  --general-border: 1px solid #5c5e5b;
}


body {
  overflow: hidden;
  background: var(--general-color-bg);
  position: relative;
}

main {
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.element {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
}
.head {
  width: 100%;
  height: 100px;
  background-image: url("../img/garland_2.svg");
  background-position: top center;
  background-repeat: repeat-x;
}
.foot {
  width: 100%;
  height: 400px;
  background-image: url("../img/forest.svg");
  background-position: bottom center;
  background-repeat: repeat-x;
}

/* ------SNOW------ */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
.snow_btn {
  position: absolute;
  top: 70px;
  right: 50px;
  width: 70px;
  height: 70px;
  background: var(--accent-color);
  border: 1px solid #8a1d21;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  z-index: 5;
}
.snow_btn svg {
  width: 70%;
  height: auto;
}
/* ------SNOW------ */


/* ================================== */
/* ================ALL=============== */
/* ================================== */


.container {
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scene {
  display: flex;
  justify-content: center;
  perspective: 1200px;
}

.envelope {
  position: relative;
  width: min(90vw, 750px);
  height: min(70vh, 420px);
  aspect-ratio: 3 / 2;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 1.2s ease, margin-top 1.2s ease;
  cursor: pointer;
}
.envelope.flipped {
  transform: rotateY(180deg);
  margin-top: 100px;
}

.side {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: 20px;
  transition: background .4s ease;
}

/* ---------------------------------------------------------- */

/* Задняя */
.back {
  display: flex;
  align-items: start;
  justify-content: space-between;
  background: var(--accent-color-bg);
  background-image: url(../img/santa.svg);
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotateY(0deg);
  padding: 45px;
}
.back  .text {
  font-family: var(--accent-text);
  font-size: 54px;
  font-weight: 600;
  color: #ffffff;
  max-width: 370px;
}
.back  .stamp {
  width: 90px;
  height: 90px;
  margin-top: 12px;
}
.back  .stamp img {
  width: 100%;
}

/* ---------------------------------------------------------- */

/* Лицевая */
.front {
  background: var(--light-accent-color-bg);
  background-image: url('../img/snow_holm.png');
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 60%;
  transform: rotateY(180deg);
  border-radius: 1px 1px 12px 12px;
}

.flap {
  position: absolute;
  inset: 0;
  background: var(--accent-color-bg);
  clip-path: polygon(0 0, 100% 0, 50% 60%);
  transform-origin: top;
  transition: transform 0.8s ease;
  z-index: 3;
  transition: opacity .4s ease, transform .8s ease;
}
.envelope.open .flap {
  transform: rotateX(-180deg);
}

/* ---------------------------------------------------------- */

.letter-wrapper {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.letter {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px 40px;
  background: #FAF7F2;
  border-radius: 6px;
  text-align: justify;
  z-index: 4;
  transform: translateY(-10%);
  opacity: 0;
  transition: transform .8s ease, opacity .8s ease;
}

.letter__title {
  font-family: var(--accent-text);
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  color: var(--general-color-text);
  line-height: 160%;
}

.letter__body {
  font-family: var(--general-text);
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  color: var(--general-color-text);
  padding: 20px;
}
.letter__body .letter__text {
  text-indent: 1.5em;
  margin-bottom: 15px;
}
.letter__intro {
  text-align: justify;
}

.letter__list {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

}
.letter__list li {
  position: relative;
  margin-left: 35px;
}
.letter__list li::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: -35px;
  background-image: url("../img/snowflake-red.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.letter__line {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin: 15px 0;
}
.letter__body .letter__line:nth-of-type(2) .mark-wrapper {
  width: 120px;
  height: 120px;
  margin-top: 50px;
}
.mark-wrapper {
  width: 80px;
  height: 80px;
}
.mark-wrapper img {
  width: 100%;
  height: auto;
}
.mark-left {
  transform: rotate(-12deg);
}
.mark-right {
  transform: rotate(12deg);
}

/* ---------------------------------------------------------- */

.envelope.open .letter {
  clip-path: polygon(4% 0, 100% -4%, 50% 51%);
  opacity: 1;
  transform: translateY(0%);
}
.envelope.open .letter-wrapper::before {
  content: "";
  clip-path: polygon(0 0, 100% 0, 50% 55%);
  inset: 0px;
  position: absolute;
  background: var(--accent-color-bg);
  z-index: 0;
}

/* ---------------------------------------------------------- */

.envelope.half-open .letter-wrapper {
  z-index: 5;
}
.envelope.half-open .letter-wrapper::before {
  clip-path: polygon(-10% -3%, 110% -3%, 50% 50%);
}

.envelope.half-open .letter {
  clip-path: polygon(0% 0%, 100% 0%, 100% 15%, 50% 60%, 0% 15%);
  transform: translateY(-15%);
}

/* ---------------------------------------------------------- */

.envelope.full-open .side {
  background: transparent;
}

.envelope.full-open .flap {
  opacity: 0;
  transform: translateY(10%);
}


.envelope.full-open .letter-wrapper {
  box-shadow: inset 0 0 0 10px white, inset 0 0 0 20px var(--accent-color-bg);
  border-radius: 12px;
  position: relative;
  top: calc(50% - 210px);
  left: 50%;
  transform: translateX(-50%);
  width: min(90vw, 750px);
  height: min(70vh, 420px);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}




.envelope.full-open .letter-wrapper::before {
  opacity: 0;
}

.envelope.full-open .letter {
  clip-path: none;
  transform: none;
  width: 95%;
  height: 90%;
  border-radius: 0;
  margin-top: 0;
  overflow-y: scroll;
  scrollbar-width: none;
}

/* Chrome, Edge, Safari */
.envelope.full-open .letter::-webkit-scrollbar {
  width: 0;
  height: 0;
}



/* ---------------------------------------------------------- */

/* Кнопка */
.open-btn {
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  opacity: 1;
  pointer-events: auto;
  transition: top 0.8s ease;
}

.envelope.open .open-btn {
  top: -55%;
  pointer-events: none;
}

.envelope.full-open .open-btn {
  opacity: 0;
  transform: translateY(10%);
}




@media (max-width: 1024px) {
  .letter__title {
    font-size: 36px;
  }

  .letter__body {
    font-size: 20px;
    padding: 16px;
  }

  .envelope {
    height: min(75vh, 460px);
  }
}


@media (max-width: 768px) {

  /* Кнопка снега */
  .snow_btn {
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
  }

  /* Конверт — ТОЛЬКО масштаб */
  .envelope {
    width: min(94vw, 520px);
    height: auto; /* важно */
  }

  /* задняя сторона */
  .back {
    padding: 24px;
    background-size: 85%;
  }

  .back .text {
    font-size: 28px;
    max-width: 100%;
  }

  .back .stamp {
    width: 60px;
    height: 60px;
  }

  /* письмо */
  .letter {
    padding: 18px 20px;
  }

  .letter__title {
    font-size: 28px;
    line-height: 140%;
  }

  .letter__body {
    font-size: 16px;
    line-height: 145%;
    padding: 10px;
  }

  /* списки */
  .letter__list {
    gap: 12px;
  }

  .letter__list li {
    margin-left: 26px;
  }

  .letter__list li::before {
    width: 18px;
    height: 18px;
    left: -26px;
  }

  /* марки */
  .mark-wrapper {
    width: 48px;
    height: 48px;
  }

  .letter__body .letter__line:nth-of-type(2) .mark-wrapper {
    width: 68px;
    height: 68px;
    margin-top: 20px;
  }

  .letter__line {
    gap: 10px;
  }
}



@media (max-width: 480px) {

  .envelope {
    width: min(96vw, 420px);
  }

  .back .text {
    font-size: 22px;
  }

  .letter__title {
    font-size: 22px;
  }

  .letter__body {
    font-size: 15px;
  }

  .mark-wrapper {
    width: 40px;
    height: 40px;
  }
}

