@font-face {
    font-family: 'Nunito';
    src: local('Nunito ExtraLight Italic'), local('Nunito-ExtraLightItalic'),
        url('Nunito-ExtraLightItalic.woff2') format('woff2'),
        url('Nunito-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: local('Nunito ExtraLight'), local('Nunito-ExtraLight'),
        url('Nunito-ExtraLight.woff2') format('woff2'),
        url('Nunito-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

